body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    width: 18%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    inline:
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.product h2 {
    margin-top: 0;
    font-size: 16px;
}

.product p.price {
    font-weight: bold;
    color: #007bff;
    margin-top: 5px;
}

.btn-detail {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-detail:hover {
    background-color: #0056b3;
}

.actions {
    text-align: center;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    margin-top: 10px
}

.btn:hover {
    background-color: #0056b3;
}

.product-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.product-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.product-info {
    display: flex;
    align-items: flex-start;
}

.product-image {
    flex: 1;
    margin-right: 20px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-description {
    flex: 2;
}

.product-description h2 {
    margin-top: 0;
    color: #007bff;
}

.product-description p {
    margin-bottom: 10px;
    color: #555;
}

.actions {
    text-align: center;
    margin-top: 20px;
}

.btn-back {
    background-color: #28a745;
}

.btn-update {
    background-color: #007bff;
}

.btn-delete {
    background-color: #dc3545;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.delete {
    background-color: #dc3545;
    color: #fff;
}

.button:hover {
    opacity: 0.8;
}


.actions a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.actions a:hover {
    filter: brightness(90%);
}

.update-product-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.update-product-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.update-product-form .form-group {
    margin-bottom: 20px;
}

.update-product-form label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.update-product-form input[type="text"],
.update-product-form textarea,
.update-product-form input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.update-product-form input[type="file"] {
    padding: 8px;
}

.update-product-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-product-form button[type="submit"]:hover {
    background-color: #0056b3;
}


.make-order-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.orders-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.order-list {
    list-style-type: none;
    padding: 0;
}

.order {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.order p {
    margin: 5px 0;
}

.view-btn {
    display: block;
    width: 100px;
    padding: 8px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.view-btn:hover {
    background-color: #0056b3;
}

