{% extends 'delivery/base.html' %}
{% block title %}Update{% endblock %}

{% block content %}
  <form action="{% url 'food_update' food.id %}" method="POST"  enctype="multipart/form-data">
      {% csrf_token %}
      <div class="update-product-container">
          <h1>Update</h1>
          <form class="update-product-form">
              <div class="form-group">
                  <label for="food-name">Name:</label>
                  <input type="text" id="food-name" name="name" value="{{ food.name }}" required>
              </div>
              <div class="form-group">
                  <label for="food-price">Price:</label>
                  <input type="text" id="food-price" name="price" value="{{ food.price }}" required>
              </div>
              <div class="form-group">
                  <label for="food-weight">Weight:</label>
                  <input type="text" id="food-weight" name="weight" value="{{ food.weight }}" required>
              </div>
              <div class="form-group">
                  <label for="food-description">Description:</label>
                  <textarea id="food-description" name="description" required>{{ food.description }}</textarea>
              </div>
              <div class="form-group">
                  <label for="food-photo">Photo: current <a href="{{food.photo.url}}">{{food.photo.url}}</a></label>
                  <input type="file" id="food-photo" name="photo">
              </div>
              <div class="form-group">
                  <button type="submit" class="btn-update">Update</button>
              </div>
          </form>
      </div>
  </form>
{% endblock %}