{% extends 'delivery/base.html' %}
{% block title %}Menu{% endblock %}

{% block content %}
<header>
<div class="container">
    <h1>Menu</h1>
    <nav>
        <div class="actions">
            <a href="{% url 'create_order' %}" class="btn">Make Order</a><br>
            <a href="{% url 'orders_list' %}" class="btn">Orders List</a><br>
            <a href="{% url 'food_create' %}" class="btn">Add food</a><br>
            <a href="{% url 'drink_create' %}" class="btn">Add drink</a><br>
            <a href="{% url 'cart:view_cart' %}" class="btn">My cart</a><br>
        </div>
    </nav>
        </div>
</header>
{% for food_type, foods in foods_by_type.items %}
    <h2>{{ food_type.name }}</h2>
    <div class="product-grid">
    {% for food in foods %}
        <div class="product">
            <img src="{{ food.photo.url }}" alt="{{ food.name }}">
            <h2>{{ food.name }}</h2>
            <p class="price">price: {{ food.price }}</p>
            <a href="{% url 'food_detail' food.pk %}" class="btn-detail">detail</a><br>
            <form action="{% url 'cart:add_food' food.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-detail">Add to cart</button>
            </form>
        </div>
    {% endfor %}
    </div>
{% endfor %}
    <h2>Drinks</h2>
    <div class="product-grid">
        {% for drink in drinks %}
            <div class="product">
                <img src="{{ drink.photo.url }}" alt="{{ drink.name }}">
                <h2>{{ drink.name }}</h2>
                <p class="price">price: {{ drink.price }}</p>
                <a href="{% url 'drink_detail' drink.pk %}" class="btn-detail">detail</a><br>
                <form action="{% url 'cart:add_drink' drink.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn-detail">Add to Cart</button>
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}