{% extends 'delivery/base.html' %}
{% block title %}Order list{% endblock %}

{% block content %}
<div class="orders-container">
    <h1>Order List</h1>
    <table class="orders-table">
        <thead>
            <tr>
                <th>Client Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.fio }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone_number }}</td>
                <td><a href="{% url 'order_detail' order.pk %}" class="view-btn">View</a></td>
            </tr>
            {% endfor %}
            {% for order in cart_orders %}
            <tr>
                <td>{{ order.fio }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.phone_number }}</td>
                <td><a href="{% url 'cart_order_detail' order.pk %}" class="view-btn">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}