{% extends 'delivery/base.html' %}
{% block title %}Order list{% endblock %}

{% block content %}
<div class="order-products-container">
        <h1>Order List</h1>
        <ul class="order-products">
            <li>
                <div class="order">
                    <p>{{ order.name }}</p>
                </div>
                <div class="products">
                    {% for food in foods %}
                        <h1>{{ food.name }}</h1>
                        <p>price: {{ food.price }}</p>
                        <p>weight: {{ food.weight }}</p>
                        <p>description: {{ food.description }}</p>
                    {% endfor %}
                    {% for drink in drinks %}
                        <h1>{{ drink.name }}</h1>
                        <p>price: {{ drink.price }}</p>
                        <p>volume: {{ drink.volume }}</p>
                    {% endfor %}
                </div>
            </li>
        </ul>
</div>
{% endblock %}